<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<title>Organisations List</title>
		<link rel="stylesheet"
			  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			  crossorigin="anonymous">
	</head>

	<body>

		<form action="#" th:action="${'/api1/'}" class="mb-0 mx-2 mt-2" method="GET">
			<button type="submit" class="btn btn-warning">Home</button>
		</form>

		<div class="container pt-2">

			<h1>Organisations List</h1>

			<div class="row">
				<form action="#" th:action="${'/api1/organisations/new'}" class="form_button" method="get">
					<button type="submit" class="btn btn-primary">New User</button>
				</form>
			</div>

			<table class="table table-hover table-sm table-bordered">
				<thead>
				<tr>
					<th> ID </th>
					<th> Name </th>
					<th> Deleted </th>
				</tr>
				</thead>
				<tbody>
					<tr th:if="${organisations.empty}">
						<td colspan="3"> No Organisations In Database </td>
					</tr>
					<tr th:each="organisation : ${organisations}">
						<td>
							<span th:text="${organisation.id}"></span>
						</td>
						<td>
							<span th:text="${organisation.name}"></span>
						</td>
						<td>
							<span th:text="${organisation.isDeleted}"></span>
						</td>
						<td>
							<form action="#" th:action="${'/api1/organisations/' + organisation.id}" class="mb-0" method="get">
								<button type="submit" class="btn btn-primary w-100">View</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>