<html xmlns:th="http://www.thymeleaf.org" th:replace="~{main-layout :: main-fragment(~{:: #main-content})}">
	<head>
		<title>Edit Equipment Details</title>
		<link rel="stylesheet"
			  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			  crossorigin="anonymous">
	</head>

	<body>

		<div id="main-content" class="container pt-2">

			<h1>Edit Equipment Details</h1>

			<h3 th:text="${error_message_attribute}" class="text-danger"></h3>

			<div class="col">
				<form action="#" th:action="${'/api1/equipment/update'}" th:object="${equipment}" method="post">

					<div class="form-group">
						<label for="id">ID</label>
						<input type="text" class="form-control" id="id" readonly th:field="*{id}">
					</div>

					<div class="form-group">
						<label for="description">Description</label>
						<textarea id="description" style="min-height: 200px;" class="form-control" aria-label="Description" th:field="*{description}"></textarea>
					</div>

					<div class="form-group">
						<label for="typeSelect">Equipment Type</label>
						<select class="form-control" id="typeSelect" th:field="${equipment.equipment_type}">
							<option value=""></option>
							<option th:each="type : ${equipment_types}"
									th:value="${type.id}"
									th:utext="${type.name}">
							</option>
						</select>
					</div>

					<div class="form-group">
						<label for="vehicleSelect">Vehicle</label>
						<select class="form-control" id="vehicleSelect" th:field="${equipment.vehicle}">
							<option value=""></option>
							<option th:each="vehicle : ${vehicles}"
									th:value="${vehicle.id}"
									th:utext="${vehicle.registration_number}">
							</option>
						</select>
					</div>

					<button type="submit" class="btn btn-primary mx-auto mt-4">Save</button>
				</form>
			</div>
		</div>
	</body>
</html>


