<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<title>New Image</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
	</head>

	<body>
		<div class="main">
			<h1>New Image</h1>

			<p>
				<span th:text="${error_message_attribute}" class="error_msg"></span>
			</p>

			<form action="#" th:action="@{/api1/fileDBS}" th:object="${fileDB}" method="post">
				<table>
					<tbody>
						<tr>
							<td> Name </td>
							<td> <input type="text" th:field="*{name}" /> </td>
						</tr>
						<tr>
							<td> Description </td>
							<td> <input type="text" th:field="*{description}" /> </td>
						</tr>
						<tr th:object="${vehicles}">
							<td> Vehicle </td>
							<td>
								<select th:field="${fileDB.vehicle}">
									<option th:each="v : ${vehicles}"
											th:value="${v.id}"
											th:utext="${v.name}">
									</option>
								</select>
							</td>
						</tr>
						<tr>
							<td> Deleted </td>
							<td> <input type="checkbox" th:field="*{isDeleted}" /> </td>
						</tr>
						<tr>
							<td></td>
						</tr>
						<tr>
							<td colspan="4">
								<div class="paddingTopSmall">
									<input type="submit" value="Add" />
									<input type="reset" value="Reset" />
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</form>

			<form method="post" th:action="@{/api1/fileDBS/upload}" enctype="multipart/form-data">
				<div class="form-group">
					<input type="fileDB" name="fileDB" class="form-control-fileDB">
				</div>
				<button type="submit" class="btn btn-primary">Upload Image</button>
			</form>
		</div>

	</body>
</html>