<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<title>Change Password</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
	</head>

	<body>

		<div class="main">
			<h1>Change Password</h1>

			<p>
				<span th:text="${error_message_attribute}" class="error_msg"></span>
			</p>

			<form th:action="${'/api1/user/update_password/' + userId}" th:object="${password}" class="form" method="post">
				<div class="form-group">
					<label >User ID</label>
					<span th:text="${userId}"></span>
				</div>
				<div class="form-group">
					<label for="currentPassword">Current Password</label>
					<input class="form-control" type="password" th:field="*{currentPassword}" id="currentPassword" placeholder="Current Password">
					<div class="alert alert-warning" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></div>
				</div>
				<div class="form-group">
					<label for="newPassword1">New Password</label>
					<input class="form-control" type="password" th:field="*{newPassword1}" id="newPassword1" placeholder="New Password">
					<div class="alert alert-warning" th:if="${#fields.hasErrors('newPassword1')}" th:errors="*{newPassword1}"></div>
				</div>
				<div class="form-group">
					<label for="newPassword2">Repeat Password</label>
					<input class="form-control" type="password" th:field="*{newPassword2}" id="newPassword2" placeholder="Repeat Password">
					<div class="alert alert-warning" th:if="${#fields.hasErrors('newPassword2')}" th:errors="*{newPassword2}"></div>
				</div>
				<input type="submit"  class="btn btn-success" value="Change Password">
			</form>
		</div>
	</body>
</html>