<html xmlns:th="http://www.thymeleaf.org" th:replace="~{main-layout :: main-fragment(~{:: #main-content})}">
	<head>
		<title>Edit User Details</title>
		<link rel="stylesheet"
			  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			  crossorigin="anonymous">
	</head>

	<body>

		<div id="main-content" class="container pt-2">

			<h1>Edit User Details</h1>

			<h3 th:text="${error_message_attribute}" class="text-danger"></h3>

			<h3 th:text="${success_message_attribute}" class="text-success"></h3>

			<form action="#" th:action="${'/api1/users/update'}" th:object="${user}" method="POST">
				<div class="form-group">
					<label for="id">ID</label>
					<input type="text" class="form-control" id="id" readonly th:field="${user.id}">
				</div>

				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" class="form-control" id="username" placeholder="Username" th:field="${user.username}">
				</div>

				<div class="form-group">
					<label for="first_name">First Name</label>
					<input type="text" class="form-control" id="first_name" placeholder="First Name" th:field="${user.first_name}">
				</div>

				<div class="form-group">
					<label for="last_name">Last Name</label>
					<input type="text" class="form-control" id="last_name" placeholder="Last Name" th:field="${user.last_name}">
				</div>

				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" placeholder="Email" th:field="${user.email}">
				</div>

				<div class="form-group" th:object="${organisations}">
					<label for="organisationSelect">Organisation</label>
					<select class="form-control" id="organisationSelect" th:field="${user.organisation}">
						<option value=""></option>
						<option th:each="org : ${organisations}"
								th:value="${org.id}"
								th:utext="${org.name}">
						</option>
					</select>
				</div>

				<div class="form-group" th:object="${roles}">
					<label for="roleSelect">Role</label>
					<select class="form-control" id="roleSelect" th:field="${user.role}">
						<option th:each="role : ${roles}"
								th:value="${role.id}"
								th:utext="${role.name}">
						</option>
					</select>
				</div>

				<input type="submit" id="submit-form" class="" hidden/>
			</form>

			<form action="#" th:action="${'/api1/users/'+ user.id +'/change_password'}" hidden method="GET">
				<input type="submit" id="change-password-form"/>
			</form>

			<div class="row">
				<label for="submit-form" tabindex="0" class="btn btn-primary mt-4">Save</label>
				<label for="change-password-form" tabindex="1" class="btn btn-warning mt-4 ml-auto">Change Password</label>
			</div>

		</div>
	</body>
</html>