<html xmlns:th="http://www.thymeleaf.org" th:replace="~{main-layout :: main-fragment(~{:: #main-content})}">
	<head>
		<title>New User</title>
		<link rel="stylesheet"
			  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			  crossorigin="anonymous">
	</head>

	<body>
		<div id="main-content" class="container pt-2">

			<h1>New User</h1>

			<h3 th:text="${error_message_attribute}" class="text-danger"></h3>

			<form action="#" th:action="@{/api1/users/}" th:object="${user}" method="POST">

				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" class="form-control" id="username" placeholder="Username" th:field="*{username}">
				</div>

				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}">
				</div>

				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" placeholder="Email" th:field="*{email}">
				</div>

				<div class="form-group">
					<label for="first_name">First Name</label>
					<input type="text" class="form-control" id="first_name" placeholder="First Name" th:field="*{first_name}">
				</div>

				<div class="form-group">
					<label for="last_name">Last Name</label>
					<input type="text" class="form-control" id="last_name" placeholder="LasT Name" th:field="*{last_name}">
				</div>

				<div class="form-group" th:object="${organisations}">
					<label for="organisationSelect">Organisation</label>
					<select class="form-control" id="organisationSelect" th:field="${user.organisation}">
						<option value=""></option>
						<option th:each="org : ${organisations}"
								th:value="${org.id}"
								th:utext="${org.name}">
						</option>
					</select>
				</div>

				<div class="form-group" th:object="${roles}">
					<label for="roleSelect">Role</label>
					<select class="form-control" id="roleSelect" th:field="${user.role}">
						<option th:each="role : ${roles}"
								th:value="${role.id}"
								th:utext="${role.name}">
						</option>
					</select>
				</div>

				<button type="submit" class="btn btn-primary mx-auto mt-4">Save</button>
			</form>
		</div>
	</body>
</html>