<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<title>User Details</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
	</head>

	<body>
		<div class="main">

			<h1>User Details</h1>

			<table>
				<tbody th:object="${user}">
					<tr>
						<td class="alignLeft"> ID </td>
						<td class="alignLeft"> <span th:text="*{id}"></span> </td>
					</tr>
					<tr>
						<td class="alignLeft"> Username </td>
						<td class="alignLeft"> <span th:text="*{username}"></span> </td>
					</tr>
					<tr>
						<td class="alignLeft"> Password </td>
						<td class="alignLeft"> <span th:text="*{passwordHash}"></span> </td>
					</tr>
					<tr>
						<td class="alignLeft"> First Name </td>
						<td class="alignLeft"> <span th:text="*{firstName}"></span> </td>
					</tr>
					<tr>
						<td class="alignLeft"> Last Name </td>
						<td class="alignLeft"> <span th:text="*{lastName}"></span> </td>
					</tr>
					<tr>
						<td class="alignLeft"> Email </td>
						<td class="alignLeft"> <span th:text="*{email}"></span> </td>
					</tr>
					<tr>
						<td class="alignLeft"> Organisation </td>
						<td class="alignLeft"> <span th:text="${user.organisation} ? ${user.organisation.name} : 'NOT SELECTED'"></span> </td>
					</tr>
					<tr>
						<td class="alignLeft"> Role </td>
						<td class="alignLeft"> <span th:text="${user.role} ? ${user.role.name} : 'NOT SELECTED'"></span> </td>
					</tr>
					<tr>
						<td class="alignLeft"> Deleted </td>
						<td class="alignLeft"> <span th:text="*{isDeleted}"></span> </td>
					</tr>
				</tbody>
			</table>

			<table>
				<tr>
<!--				<th th:if="${changes_allowed}">-->
					<th>
						<form action="#" th:action="${'/api1/users/' + user.id + '/edit'}" class="form_button" method="GET">
							<p>
								<input type="submit" value="Edit"/>
							</p>
						</form>
					</th>
<!--				</th>-->

					<th>
						<form action="#" th:action="${'/api1/users/' + user.id}" class="form_button" method="DELETE">
							<p>
								<input type="submit" value="Delete"/>
							</p>
						</form>
					</th>
				</tr>
			</table>
		</div>
	</body>
</html>