<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<title>User Details</title>
		<link rel="stylesheet"
			  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			  crossorigin="anonymous">
	</head>

	<body>

	<form action="#" th:action="${'/api1/'}" class="mb-0 mx-2 mt-2" method="GET">
		<button type="submit" class="btn btn-warning">Home</button>
	</form>

		<div class="container pt-2">

			<form action="#" th:action="${'/api1/users/'}" method="GET">
				<button type="submit" class="btn btn-secondary my-4"><-- Users List</button>
			</form>

			<h1>User Details</h1>

			<table class="table table-hover" th:object="${user}">
				<tbody>
					<tr>
						<td> ID </td>
						<td> <span th:text="*{id}"></span> </td>
					</tr>
					<tr>
						<td> Username </td>
						<td> <span th:text="*{username}"></span> </td>
					</tr>
					<tr>
						<td> First Name </td>
						<td> <span th:text="*{firstName}"></span> </td>
					</tr>
					<tr>
						<td> Last Name </td>
						<td> <span th:text="*{lastName}"></span> </td>
					</tr>
					<tr>
						<td> Email </td>
						<td> <span th:text="*{email}"></span> </td>
					</tr>
					<tr>
						<td> Organisation </td>
						<td> <span th:text="${user.organisation} ? ${user.organisation.name} : 'NOT SELECTED'"></span> </td>
					</tr>
					<tr>
						<td> Role </td>
						<td> <span th:text="${user.role} ? ${user.role.name} : 'NOT SELECTED'"></span> </td>
					</tr>
					<tr>
						<td> Deleted </td>
						<td> <span th:text="*{isDeleted}"></span> </td>
					</tr>
				</tbody>
			</table>

			<div class="row">
				<form action="#" th:action="${'/api1/users/' + user.id + '/edit'}" class="" method="GET">
					<button type="submit" class="btn btn-primary">Edit</button>
				</form>

				<form action="#" th:action="${'/api1/users/' + user.id + '/delete'}" class="ml-auto" method="POST">
					<button type="submit" class="btn btn-danger">Delete</button>
				</form>
			</div>

		</div>
	</body>
</html>