<html xmlns:th="http://www.thymeleaf.org" th:replace="~{main-layout :: main-fragment(~{:: #main-content})}">
	<head>
		<title>Users List</title>
		<link rel="stylesheet"
			  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			  crossorigin="anonymous">
	</head>

	<body>

		<div id="main-content" class="container pt-2">
			<div class="row">
				<h1>Users List</h1>

				<form action="#" th:action="${'/api1/users/new'}" class="ml-auto p-0" method="get">
					<button type="submit" class="btn btn-success">+ New User</button>
				</form>
			</div>

			<table class="table table-hover table-sm table-bordered">
				<thead>
				<tr>
					<th> ID </th>
					<th> Username </th>
					<th> First Name </th>
					<th> Last Name </th>
					<th> Organisation </th>
					<th> Role </th>
				</tr>
				</thead>
				<tbody>
					<tr th:if="${users.empty}">
						<td colspan="6"> No Users In Database </td>
					</tr>
					<tr th:each="user : ${users}">
						<td>
							<span th:text="${user.id}"></span>
						</td>
						<td>
							<span th:text="${user.username}"></span>
						</td>
						<td>
							<span th:text="${user.first_name}"></span>
						</td>
						<td>
							<span th:text="${user.last_name}"></span>
						</td>
						<td>
							<span th:text="${user.organisation} ? ${user.organisation.name} : 'NOT SELECTED'"></span>
						</td>
						<td>
							<span th:text="${user.role} ? ${user.role.name} : 'NOT SELECTED'"></span>
						</td>
						<td style="width: 1px;">
							<form action="#" th:action="${'/api1/users/' + user.id}" class="m-0 p-0" method="get">
								<button type="submit" class="btn btn-secondary btn-sm">View</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</body>
</html>