<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<title>Edit Vehicle Details</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
	</head>

	<body>

		<div class="main">

			<h1>Edit Vehicle Details</h1>

			<p>
				<span th:text="${error_message_attribute}" class="error_msg"></span>
			</p>

			<form action="#" th:action="${'/api1/update/vehicle/' + vehicle.id}" th:object="${vehicle}" method="post">
				<table>
					<tbody>
						<tr>
							<td class="alignLeft"> ID </td>
							<td> <span th:text="*{id}"></span> </td>
						</tr>
						<tr>
							<td class="alignLeft"> Name </td>
							<td> <input type="text" th:field="*{name}" /> </td>
						</tr>
						<tr>
							<td class="alignLeft"> Reg. Plate </td>
							<td> <input type="text" th:field="*{registrationPlate}" /> </td>
						</tr>
						<tr>
							<td class="alignLeft"> VIN </td>
							<td> <input type="text" th:field="*{vin}" /> </td>
						</tr>
						<tr>
							<td class="alignLeft"> Deleted </td>
							<td> <input type="checkbox" th:field="*{isDeleted}"/> </td>
						</tr>
						<tr>
							<td colspan="4" class="paddingTopSmall">
								<input type="submit" value="Save"/>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</body>
</html>