<html xmlns:th="http://www.thymeleaf.org" th:replace="~{main-layout :: main-fragment(~{:: #main-content})}">
	<head>
		<title>Fleets</title>
		<link rel="stylesheet"
			  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			  crossorigin="anonymous">
	</head>

	<body>

		<div id="main-content" class="container pt-2">

			<h1 th:text="${'Vehicle ' + vehicle.registration_number + ' is in following Fleets'}"></h1>

			<table class="table table-hover table-sm table-bordered">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">Organisation</th>
<!--						<th scope="col"># Vehicles</th>-->
					</tr>
					</thead>
				<tbody>
					<tr th:if="${fleets.empty}">
						<td colspan="4"> No Fleets Available </td>
					</tr>

					<tr th:each="fleet : ${fleets}">
						<td>
							<span th:text="${fleet.id}"></span>
						</td>
						<td>
							<span th:text="${fleet.name}"></span>
						</td>
						<td>
							<span th:text="${fleet.name}"></span>
						</td>
<!--						<td>-->
<!--							<span th:text="${fleet.vehicles == null ? '0' : #lists.size(fleet.vehicles)}"></span>-->
<!--						</td>-->
						<td style="width: 1px;">
							<form action="#" th:action="${'/api1/fleets/' + fleet.id}" class="m-0 p-0" method="get">
								<button type="submit" class="btn btn-secondary btn-sm">View</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>