<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<title>Vehicle List</title>
		<link rel="stylesheet"
			  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			  crossorigin="anonymous">
	</head>

	<body>

	<form action="#" th:action="${'/api1/'}" class="mb-0 mx-2 mt-2" method="GET">
		<button type="submit" class="btn btn-warning">Home</button>
	</form>

	<div class="container pt-2">

		<h1>Vehicle List</h1>

		<div class="col">
			<div class="row">
				<form action="#" th:action="${'/api1/vehicles/new'}" class="btn btn-primary" method="get">
					<button type="submit" class="btn btn-primary">New Vehicle</button>
				</form>
			</div>

			<table class="table table-hover">
				<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Name</th>
					<th scope="col">Registration Number</th>
					<th scope="col">VIN</th>
					<th scope="col">Fleet Name</th>
					<th scope="col">Deleted</th>
					<th scope="col"> </th>
				</tr>
				</thead>
				<tbody>
				<tr th:if="${vehicles.empty}">
					<td colspan="4"> No Vehicles Available </td>
				</tr>

				<tr th:each="vehicle : ${vehicles}">
					<td>
						<span th:text="${vehicle.id}"></span>
					</td>
					<td>
						<span th:text="${vehicle.name}"></span>
					</td>
					<td>
						<span th:text="${vehicle.registrationNumber}"></span>
					</td>
					<td>
						<span th:text="${vehicle.vin}"></span>
					</td>
					<td>
						<span th:text="${vehicle.fleet == null ? 'NOT SELECTED' : vehicle.fleet.name}"></span>
					</td>
					<td>
						<span th:text="${vehicle.isDeleted}"></span>
					</td>
					<td>
						<form action="#" th:action="${'/api1/vehicles/' + vehicle.id}" class="form_button" method="get">
							<button type="submit" class="btn btn-primary">View</button>
						</form>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script th:inline="javascript">

	</script>

	</body>
</html>