<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<title>Vehicle Details</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
	</head>

	<body>
		<div class="main">

			<h1>Vehicle Details</h1>

			<table>
				<tbody th:object="${vehicle}">
					<tr>
						<td class="alignLeft"> ID </td>
						<td class="alignLeft"> <span th:text="*{id}"></span> </td>
					</tr>
					<tr>
						<td class="alignLeft"> Name </td>
						<td class="alignLeft"> <span th:text="*{name}"></span> </td>
					</tr>
					<tr>
						<td class="alignLeft"> Reg. Plate </td>
						<td class="alignLeft"> <span th:text="*{registrationPlate}"></span> </td>
					</tr>
					<tr>
						<td class="alignLeft"> VIN </td>
						<td class="alignLeft"> <span th:text="*{vin}"></span> </td>
					</tr>
					<tr>
						<td class="alignLeft"> Deleted </td>
						<td class="alignLeft"> <span th:text="*{isDeleted}"></span> </td>
					</tr>
				</tbody>
			</table>

			<table>
				<tr>
					<th>
						<form action="#" th:action="${'/api1/edit/vehicle/' + vehicle.id}" class="form_button" method="get">
							<p>
								<input type="submit" value="Edit"/>
							</p>
						</form>
					</th>
					<th>
						<form action="#" th:action="${'/api1/delete/vehicle/' + vehicle.id}" class="form_button" method="post">
							<p>
								<input type="submit" value="Delete"/>
							</p>
						</form>
					</th>
				</tr>
			</table>
		</div>
	</body>
</html>