<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<title>Vehicle Trips</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
	</head>

	<body>
		<div class="main">

			<h1>Vehicle Trips</h1>

			<table>
				<thead>
					<tr>
						<th> ID </th>
						<th> Name </th>
						<th> Origin </th>
						<th> Destination </th>
						<th> Distance in Metres </th>
						<th> Vehicle </th>
						<th> Deleted </th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${trips.empty}">
						<td colspan="6"> No Trips Available </td>
					</tr>
					<tr th:each="trip : ${trips}">
						<td>
							<span th:text="${trip.id}"></span>
						</td>
						<td>
							<span th:text="${trip.name}"></span>
						</td>
						<td>
							<span th:text="${trip.origin}"></span>
						</td>
						<td>
							<span th:text="${trip.destination}"></span>
						</td>
						<td>
							<span th:text="${trip.metresDriven}"></span>
						</td>
						<td>
							<input type="checkbox" th:field="*{isDeleted}" readonly/>
						</td>
						<td>
							<span th:text="${trip.vehicle == null ? '' : trip.vehicle.name}"></span>
						</td>
						<td>
							<form action="#" th:action="${'/api1/trips/' + trip.id}" class="form_button" method="GET">
								<p>
									<input type="submit" value="View"/>
								</p>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>